<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>static-html-page</title>
    <link rel="stylesheet" href="../assets/css/base.css" media="screen">
    <link rel="stylesheet" href="../assets/css/list.css" media="screen">
    <style type="text/css">
    	body{
    		padding: 20px;
    	}
    	h1{
    		line-height: 40px;
    		font-size: 18px;
    	}
    </style>
</head>
<body>
	<h1>默认列表</h1>
	<ul class="ui-list">
	    <li class="ui-list-item"><a href="#">聚光科技携实验室仪器亮相江苏高教展</a></li>
	    <li class="ui-list-item"><a href="#">聚光子公司盈安科技亮相2015重庆中国金属冶金展</a></li>
	    <li class="ui-list-item"><a href="#">聚光科技率队北京吉天</a></li>
	    <li class="ui-list-item"><a href="#">2015重庆中国金属冶金展</a></li>
	</ul>
	<h1>灰色方块</h1>
	<ul class="ui-list ui-list-gray">
	    <li class="ui-list-item"><a href="#">聚光科技携实验室仪器亮相江苏高教展</a></li>
	    <li class="ui-list-item"><a href="#">聚光子公司盈安科技亮相2015重庆中国金属冶金展</a></li>
	    <li class="ui-list-item"><a href="#">聚光科技率队北京吉天</a></li>
	    <li class="ui-list-item"><a href="#">2015重庆中国金属冶金展</a></li>
	</ul>
	<h1>灰色文字</h1>
	<ul class="ui-list ui-list-graylink">
	    <li class="ui-list-item"><a href="#">聚光科技携实验室仪器亮相江苏高教展</a></li>
	    <li class="ui-list-item"><a href="#">聚光子公司盈安科技亮相2015重庆中国金属冶金展</a></li>
	    <li class="ui-list-item"><a href="#">聚光科技率队北京吉天</a></li>
	    <li class="ui-list-item"><a href="#">2015重庆中国金属冶金展</a></li>
	</ul>
	<h1>没有方块</h1>
	<ul class="ui-list ui-list-nosquare">
	    <li class="ui-list-item"><a href="#">聚光科技携实验室仪器亮相江苏高教展</a></li>
	    <li class="ui-list-item"><a href="#">聚光子公司盈安科技亮相2015重庆中国金属冶金展</a></li>
	    <li class="ui-list-item"><a href="#">聚光科技率队北京吉天</a></li>
	    <li class="ui-list-item"><a href="#">2015重庆中国金属冶金展</a></li>
	</ul>
	<h1>不是链接</h1>
	<ul class="ui-list">
	    <li class="ui-list-item">
	        <span class="ui-list-item-text">聚光科技携实验室仪器亮相江苏高教展</span>
	    </li>
	    <li class="ui-list-item">
	        <span class="ui-list-item-text">聚光子公司盈安科技亮相2015重庆中国金属冶金展</span>
	    </li>
	    <li class="ui-list-item">
	        <span class="ui-list-item-text">聚光科技率队北京吉天</span>
	    </li>
	    <li class="ui-list-item">
	        <span class="ui-list-item-text">2015重庆中国金属冶金展</span>
	    </li>
	</ul>
	<h1>中间对齐的列表</h1>
	<dl class="ui-dlist">
	    <dt class="ui-dlist-tit">姓名：</dt>
	    <dd class="ui-dlist-det">张三</dd>
	    <dt class="ui-dlist-tit">实名认证：</dt>
	    <dd class="ui-dlist-det">已认证 <a title="查看" href="#">查看</a></dd>
	    <dt class="ui-dlist-tit">手机号码：</dt>
	    <dd class="ui-dlist-det">18588182213 <a title="修改号码" href="#">修改号码</a></dd>
	    <dt class="ui-dlist-tit">Email邮箱：</dt>
	    <dd class="ui-dlist-det">mail.easy@hotmail.com</dd>
	    <dt class="ui-dlist-tit">绑定账户：</dt>
	    <dd class="ui-dlist-det">皮蛋狂吃瘦肉粥 <a title="查看" href="#">管理</a></dd>
	    <dt class="ui-dlist-tit">注册时间：</dt>
	    <dd class="ui-dlist-det">2015-3-18</dd>
	</dl>
</body>
</html>
